<!DOCTYPE html>
<html style="background-color:black;">
<body>
<audio controls autoplay>
<source src="\\172.16.220.5\HOMEL\EHL150958\Downloads\never.mp3"
></audio>
<h1 style= "vertical-align:middle;margin:0px 775px">Koen Bles</h1>
<p style="color:#483D8 vertical-align:middle;margin:0px 600px">je bent gerickrold</p>


</body>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<style>
body {
  font-family: "Audiowide", sans-serif;

}
h1{
  color: #483D8B
}
</style>
</head>
<img src="https://c.tenor.com/CWgfFh7ozHkAAAAC/rick-astly-rick-rolled.gif" alt="oke" style= "vertical-align:middle;margin:0px 775px">
</html>
